.banner {
  font-family: @text-font;
  font-size: 16px;
  line-height: 20px;
  background-color: @content-main-color;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
