.example {
  background-color: @bg-light-color;
}

.example__wrapper {
  .wrapper();
}

.example__title {
  font-family: @titles-font;
  font-size: 36px;
  line-height: 60px;
  color: @text-titles-color;
  padding: 20px 0;
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  color: @text-main-color;
  margin-bottom: 27px;
}

.example__results-item {
  & b {
    font-family: @titles-font;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: @text-titles-color;
  }

  & span {
    font-size: 12px;
    line-height: 12px;
    color: @text-main-color;
  }
}

.example__cost {
  font-family: @titles-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-titles-color;
  margin-top: 22px;
  margin-bottom: 44px;
  text-align: center;
}

.example__controllers {
  font-family: @titles-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @text-titles-color;
  padding-top: 35px;
  padding-bottom: 39px;
}
