.main-catalog__title {
  border-bottom: 1px solid @border-color;
}

.main-catalog__title > h1 {
  .wrapper();
  font-family: @titles-font;
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 23px;
}
