.order__title {
  .wrapper();

  font-family: @titles-font;
  font-size: 36px;
  line-height: 60px;
  padding-top: 12px;
  padding-bottom: 17px;
  color: @text-titles-color;
}

.order__subtitle {
  .wrapper();

  font-family: @titles-font;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @text-titles-color;
}
