.page-header {
  border-bottom: @simple-border;
}

.page-header__wrapper {
  .wrapper();

  padding-top: 11px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .page-header {
    border-bottom: 0;

    .wrapper();
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 24px;
  }

  .page-header__wrapper {
    .wrapper-reset();
  }

  .page-header__logo img {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-top: 53px;
    padding-bottom: 53px;
    margin: 0 auto;
  }

  .page-header__logo img {
    width: 203px;
  }
}
