.page-footer {
  background-color: @bg-light-color;
}

.page-footer__wrapper {
  .wrapper();
}

.page-footer__logo {
  display: block;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid @border-color;
}

.page-footer__social {
  padding: 22px 0;
  border-bottom: 1px solid @border-color;
}

.page-footer__copyright {
  padding: 22px 0;
}
