.promo {
  background-color: @content-main-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.promo__wrapper {
  .wrapper();
}

.promo__title {
  font-family: @titles-font;
  font-size: 36px;
  line-height: 36px;
  color: @white-color;
  margin: 0;
  text-align: center;
  padding-top: 29px;
  padding-bottom: 19px;
}

.promo__subtitle {
  font-family: @titles-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: @white-color;
  text-align: center;
}
